In [2]:
import json
from all_def import DomClickApi
import requests
import pandas as pd
from multiprocessing import *
from bs4 import BeautifulSoup
from queue import Queue
import traceback
from threading import Thread
from datetime import datetime
import numpy as np

In [3]:
dca = DomClickApi()

In [4]:
df = pd.read_csv("main.csv").drop(labels=["id"], axis=1)
df

,address,price,floor,total_floor,rooms,square,city,remont,balcon,uid,view,year
0,"Выборгская улица, 8",10680000,1,9,1,35.0,Москва,standard,1,2056866171,garden,NaN
1,"Выборгская улица, 8",10680000,1,9,1,35.0,Москва,standard,1,2056866171,garden,NaN
2,"улица Гурьянова, 9",12990000,3,12,1,40.5,Москва,standard,1,2058752717,garden,NaN
3,"Выборгская улица, 8",10680000,1,9,1,35.0,Москва,standard,1,2056866171,garden,NaN
4,"улица Гурьянова, 9",12990000,3,12,1,40.5,Москва,standard,1,2058752717,garden,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
4146,"5-я просека, 100к1",5980000,4,9,1,46.5,Самара,well_done,2,2059663679,park,NaN
4147,"улица Парижской Коммуны, 18",5500000,9,10,1,40.6,Самара,well_done,2,2059837217,park,NaN
4148,"улица Стара-Загора, 249А",4825800,10,17,1,43.8,Самара,without_repair,2,2057575882,park,NaN
4149,"улица Стара-Загора, 249А",4825800,10,17,1,43.8,Самара,without_repair,2,2057575882,park,NaN
4150,"улица Стара-Загора, 249А",4594800,8,17,1,41.7,Самара,without_repair,2,2057575792,park,NaN

In [5]:
df.drop_duplicates(["uid"])

,address,price,floor,total_floor,rooms,square,city,remont,balcon,uid,view,year
0,"Выборгская улица, 8",10680000,1,9,1,35.0,Москва,standard,1,2056866171,garden,NaN
2,"улица Гурьянова, 9",12990000,3,12,1,40.5,Москва,standard,1,2058752717,garden,NaN
5,"Ленинградское шоссе, 13к2",10400000,5,5,1,30.0,Москва,standard,1,2056577025,garden,NaN
9,"Восточная улица, 2к3",12100000,3,8,1,31.1,Москва,standard,1,2059898775,garden,NaN
14,"Нагорная улица, 21к1",16000000,8,15,1,43.1,Москва,standard,1,2059873457,garden,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
4144,"Шелепихинская набережная, 40к2",19100000,13,25,1,38.0,Москва,without_repair,2,1894169388,garden,NaN
4145,"5-я просека, 100к1",5980000,4,9,1,46.5,Самара,well_done,2,2059663679,park,NaN
4147,"улица Парижской Коммуны, 18",5500000,9,10,1,40.6,Самара,well_done,2,2059837217,park,NaN
4148,"улица Стара-Загора, 249А",4825800,10,17,1,43.8,Самара,without_repair,2,2057575882,park,NaN
4150,"улица Стара-Загора, 249А",4594800,8,17,1,41.7,Самара,without_repair,2,2057575792,park,NaN

In [68]:
def get_extra_data_god(dca, ui):
    res = dca.get(f"https://domclick.ru/card/sale__flat__{ui}", params={})
    soup = BeautifulSoup(res.content, 'html.parser')
    s = soup.findAll('section', class_="EBeSC")
    for d in s:
        f = d.find('span', class_="ffG_w")
        return f.text

In [76]:
list_of_dataframes = np.array_split(df, 17)
for y in range(17):
    for b in range(911):
        i = list_of_dataframes[y].loc[b,'uid']
        
        list_of_dataframes[y]["year"] = get_extra_data_god(dca, i)

AttributeError: 'NoneType' object has no attribute 'content'