In [91]:
import pandas as pd
import numpy as np

In [180]:
df = pd.read_csv(r'C:\Users\danii\domclick-parser\final.csv')

C:\Users\danii\AppData\Local\Temp\ipykernel_21564\2403713273.py:1: DtypeWarning: Columns (10,11,13) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r'C:\Users\danii\domclick-parser\final.csv')

In [181]:
df['city'].isna().sum()

np.int64(0)

In [182]:
def replace_english_city_names(df, column_name):
    
  # Словарь для замены названий
  city_names = {
    "ekb": "Екатеринбург",
    "msk": "Москва",
    "smr": "Санкт-Петербург",
    "anapa": "Анапа",
    "balashikha":"Балашиха",
      "nng":"Нижний Новгород",
      "nsk":"Новосибирск",
      "sam":"Самара",
      "sochi":"Сочи",
    'gelendzhik':"Геленджик",
    "kzn": "Казань",
    "krasnodar": "Краснодар",
    "spb": "Санкт-Петербург"
    # Добавьте другие названия городов, которые нужно заменить
  }

  # Заменяем названия городов в колонке
  df[column_name] = df[column_name].apply(lambda x: city_names.get(x.lower(), x))

  return df

In [183]:
df = replace_english_city_names(df, 'city')

In [184]:
df['city'].isna().sum()

np.int64(0)

In [185]:
len(df['city'].unique())

122

In [186]:
def remove_10_row(df, column_name):

  counts = df[column_name].value_counts()

  # Выбор городов, встречающихся менее 10 раз
  red_city = counts[counts < 29].index

  # Удаление строк, содержащих редкие города
  df_filtered = df[~df[column_name].isin(red_city)]

  return df_filtered

In [187]:
df_filtered = remove_10_row(df, 'city')

In [188]:
len(df_filtered['city'].unique())

35

In [189]:
df_filtered['city'].isna().sum()

np.int64(0)

In [190]:
df_filtered['city'].isna().sum()

np.int64(0)

In [191]:
def replace_city(ii):
    
  # Словарь для замены названий
  city_names = {
    "Москва": "Москва",
    "Сочи": "Сочи",
    "Краснодар": "Краснодар",
    "Новосибирск": "Новосибирск",
    "Балашиха": "Балашиха",
    "Нижний Новгород": "Нижний Новгород",
    "Анапа": "Анапа",
    "Геленджик": "Геленджик",
    "Казань": "Казань",
    "Самара": "Самара",
    "Санкт-Петербург": "Санкт-Петербург",
    "посёлок Парголово": "Санкт-Петербург",
    "посёлок Шушары": "Санкт-Петербург",
    "посёлок Коммунарка": "Москва",
    "Колпино": "Санкт-Петербург",
    "Пушкин":"Санкт-Петербург",
    "Зеленоград":"Москва",
    "Сестрорецк":"Санкт-Петербург",
    "Московский":"Санкт-Петербург",
    "Шушары":"Санкт-Петербург",
    'Ломоносов':"Санкт-Петербург",
    "Парголово": "Санкт-Петербург",
    "Петергоф": "Санкт-Петербург",
    "Троицк": "Москва",
    "Кронштадт": "Санкт-Петербург",
    "Щербинка": "Москва",
    "Красное Село":"Санкт-Петербург",
    "посёлок Металлострой":"Санкт-Петербург",
    "Марьино":"Москва",
    "деревня Столбово":"Москва",
    "коттеджный посёлок Лазурный Берег":"Москва",
    "Царицыно":"Москва",
    "деревня Крёкшино":"Москва",
    "Зеленогорск":"Санкт-Петербург"
    
  }

  # Заменяем названия городов в колонке
  ii.loc[:, 'city'] = ii['city'].apply(lambda x: city_names.get(x) if x in city_names else x)
  return ii

In [192]:
ds = replace_city(df_filtered)

In [193]:
ds['city'].isna().sum()

np.int64(0)

In [194]:
ds['city'].unique()

array(['Анапа', 'Балашиха', 'Екатеринбург', 'Геленджик', 'Казань',
       'Краснодар', 'Москва', 'Нижний Новгород', 'Новосибирск', 'Самара',
       'Сочи', 'Санкт-Петербург'], dtype=object)

In [195]:
ds['city'].isna().sum()

np.int64(0)

In [139]:
ds['city'].value_counts()

city
Санкт-Петербург    13222
Москва             12011
Сочи                5101
Краснодар           5061
Новосибирск         4481
Балашиха            2443
Нижний Новгород     1961
Анапа               1771
Геленджик           1758
Казань              1693
Самара              1300
Name: count, dtype: int64

In [196]:
ds.to_csv(r'tochno_final_100_procentov_42_pro_super_max_editional.csv')

In [197]:
ds

,Unnamed: 0.1,Unnamed: 0,address,price,floor,rooms,kitchen,city,square,total_floors,year,year1,type_perec,balcon,remont,uid,view,hot_water,fundament
0,0,0,"Краснодарский край, городской округ Город Анап...",10952600,6,2,23.1,Анапа,46.00,8.0,empty,2024,monolith,1,NaN,NaN,NaN,NaN,NaN
1,1,1,"Анапа, ул Шевченко, 3",16890000,14,2,16.8,Анапа,91.50,14.0,empty,empty,empty,2,NaN,NaN,NaN,NaN,NaN
2,2,2,"Краснодарский край, городской округ Город Анап...",9649380,2,1,18.3,Анапа,41.70,8.0,empty,2024,monolith,1,NaN,NaN,NaN,NaN,NaN
3,3,3,"Краснодарский край, Анапский район, Анапа г., ...",8700000,8,2,25.0,Анапа,56.00,13.0,empty,empty,monolith,0,NaN,NaN,NaN,NaN,NaN
4,4,4,"Краснодарский край, Анапа, Симферопольское шос...",15300000,3,2,empty,Анапа,68.92,7.0,empty,2023,monolith,empty,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54257,38061,38061,"Параллельная улица, 9лит2",23950000,8,3,20 м2,Сочи,62.00,NaN,2013.0,NaN,0,2.0,well_done,2.058298e+09,garden,0,0
54258,38062,38062,"улица Макаренко, 6/22",12850000,2,3,0,Сочи,62.00,NaN,2008.0,NaN,0,2.0,well_done,2.058651e+09,garden,0,0
54259,38063,38063,"улица Войкова, 21",110000000,4,3,0,Сочи,120.00,NaN,2012.0,NaN,Железобетонный,2.0,well_done,2.003169e+09,garden,0,0
54260,38064,38064,"улица Войкова, 21",65000000,18,3,0,Сочи,100.00,NaN,2012.0,NaN,Железобетонный,2.0,without_repair,2.059619e+09,garden,0,0
54261,38065,38065,"улица Орджоникидзе, 17",70000000,16,3,0,Сочи,131.00,NaN,0.0,NaN,0,2.0,without_repair,2.058885e+09,garden,0,0

In [265]:
from dadata import Dadata
TOKEN = "4b78ebfa047dbbe5ba35a1c1e21bc24dea1b1a05"
SECRET = "454adb38cb2938fdeb96281a04110577b0ff4899"
dadata_client = Dadata(TOKEN, SECRET)

In [201]:
#ress = dadata_client.clean(name="address", source="Москва Коровий вал д5")

In [220]:
#res

{'source': 'Москва Коровий вал д5',
 'result': 'г Москва, ул Коровий Вал, д 5',
 'postal_code': '119049',
 'country': 'Россия',
 'country_iso_code': 'RU',
 'federal_district': 'Центральный',
 'region_fias_id': '0c5b2444-70a0-4932-980c-b4dc0d3f02b5',
 'region_kladr_id': '7700000000000',
 'region_iso_code': 'RU-MOW',
 'region_with_type': 'г Москва',
 'region_type': 'г',
 'region_type_full': 'город',
 'region': 'Москва',
 'area_fias_id': None,
 'area_kladr_id': None,
 'area_with_type': None,
 'area_type': None,
 'area_type_full': None,
 'area': None,
 'city_fias_id': None,
 'city_kladr_id': None,
 'city_with_type': None,
 'city_type': None,
 'city_type_full': None,
 'city': None,
 'city_area': 'Центральный',
 'city_district_fias_id': None,
 'city_district_kladr_id': None,
 'city_district_with_type': 'р-н Замоскворечье',
 'city_district_type': 'р-н',
 'city_district_type_full': 'район',
 'city_district': 'Замоскворечье',
 'settlement_fias_id': None,
 'settlement_kladr_id': None,
 'settlement_with_type': None,
 'settlement_type': None,
 'settlement_type_full': None,
 'settlement': None,
 'street_fias_id': 'b4c061f8-fcef-45cc-aeac-53921afb2d2e',
 'street_kladr_id': '77000000000720800',
 'street_with_type': 'ул Коровий Вал',
 'street_type': 'ул',
 'street_type_full': 'улица',
 'street': 'Коровий Вал',
 'stead_fias_id': None,
 'stead_kladr_id': None,
 'stead_cadnum': None,
 'stead_type': None,
 'stead_type_full': None,
 'stead': None,
 'house_fias_id': '124550bc-40fd-4e9e-85b5-5997681ced1c',
 'house_kladr_id': '7700000000072080024',
 'house_cadnum': '77:01:0006011:2006',
 'house_type': 'д',
 'house_type_full': 'дом',
 'house': '5',
 'block_type': None,
 'block_type_full': None,
 'block': None,
 'entrance': None,
 'floor': None,
 'flat_fias_id': None,
 'flat_cadnum': None,
 'flat_type': None,
 'flat_type_full': None,
 'flat': None,
 'flat_area': None,
 'square_meter_price': None,
 'flat_price': None,
 'postal_box': None,
 'fias_id': '124550bc-40fd-4e9e-85b5-5997681ced1c',
 'fias_code': '77000000000000072080024',
 'fias_level': '8',
 'fias_actuality_state': '0',
 'kladr_id': '7700000000072080024',
 'capital_marker': '0',
 'okato': '45286560000',
 'oktmo': '45376000',
 'tax_office': '7705',
 'tax_office_legal': '7705',
 'timezone': 'UTC+3',
 'geo_lat': '55.7283488',
 'geo_lon': '37.620168',
 'beltway_hit': 'IN_MKAD',
 'beltway_distance': None,
 'qc_geo': 0,
 'qc_complete': 5,
 'qc_house': 2,
 'qc': 0,
 'unparsed_parts': None,
 'metro': [{'distance': 0.2, 'line': 'Кольцевая', 'name': 'Добрынинская'},
  {'distance': 0.4,
   'line': 'Серпуховско-Тимирязевская',
   'name': 'Серпуховская'},
  {'distance': 0.6, 'line': 'Калужско-Рижская', 'name': 'Октябрьская'}]}

In [266]:
dadata_fit = ['region', 'region_type_full', 'city_area', 'city_district', 'geo_lat', 'geo_lon', 'beltway_hit']

In [277]:
df = ds

In [278]:
for col in dadata_fit:
  df[col] = None

In [279]:
df[['near_metro_distance', 'near_metro_name']] = None

In [280]:
df

,Unnamed: 0.1,Unnamed: 0,address,price,floor,rooms,kitchen,city,square,total_floors,...,fundament,region,region_type_full,city_area,city_district,geo_lat,geo_lon,beltway_hit,near_metro_distance,near_metro_name
0,0,0,"Краснодарский край, городской округ Город Анап...",10952600,6,2,23.1,Анапа,46.00,8.0,...,NaN,None,None,None,None,None,None,None,None,None
1,1,1,"Анапа, ул Шевченко, 3",16890000,14,2,16.8,Анапа,91.50,14.0,...,NaN,None,None,None,None,None,None,None,None,None
2,2,2,"Краснодарский край, городской округ Город Анап...",9649380,2,1,18.3,Анапа,41.70,8.0,...,NaN,None,None,None,None,None,None,None,None,None
3,3,3,"Краснодарский край, Анапский район, Анапа г., ...",8700000,8,2,25.0,Анапа,56.00,13.0,...,NaN,None,None,None,None,None,None,None,None,None
4,4,4,"Краснодарский край, Анапа, Симферопольское шос...",15300000,3,2,empty,Анапа,68.92,7.0,...,NaN,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54257,38061,38061,"Параллельная улица, 9лит2",23950000,8,3,20 м2,Сочи,62.00,NaN,...,0,None,None,None,None,None,None,None,None,None
54258,38062,38062,"улица Макаренко, 6/22",12850000,2,3,0,Сочи,62.00,NaN,...,0,None,None,None,None,None,None,None,None,None
54259,38063,38063,"улица Войкова, 21",110000000,4,3,0,Сочи,120.00,NaN,...,0,None,None,None,None,None,None,None,None,None
54260,38064,38064,"улица Войкова, 21",65000000,18,3,0,Сочи,100.00,NaN,...,0,None,None,None,None,None,None,None,None,None
54261,38065,38065,"улица Орджоникидзе, 17",70000000,16,3,0,Сочи,131.00,NaN,...,0,None,None,None,None,None,None,None,None,None

In [281]:
list_of_dataframes =  np.array_split(df, 6)

C:\Users\danii\domclick-parser\.venv\Lib\site-packages\numpy\_core\fromnumeric.py:57: FutureWarning: 'DataFrame.swapaxes' is deprecated and will be removed in a future version. Please use 'DataFrame.transpose' instead.
  return bound(*args, **kwds)

In [282]:
df1 = list_of_dataframes[0]

In [257]:
def get_extra_data(row):
  res = dadata_client.clean(name="address", source=row["address"])
  #dadata_client.close()
  for fit in dadata_fit:
    row[fit] = res[fit]
      
  if res['metro']: 
    row['near_metro_distance'] =  res['metro'][0]['distance']
    row['near_metro_name'] = res['metro'][0]['name']

In [258]:
df1

,Unnamed: 0.1,Unnamed: 0,address,price,floor,rooms,kitchen,city,square,total_floors,...,fundament,region,region_type_full,city_area,city_district,geo_lat,geo_lon,beltway_hit,near_metro_distance,near_metro_name
0,0,0,"Краснодарский край, городской округ Город Анап...",10952600,6,2,23.1,Анапа,46.0,8.0,...,NaN,None,None,None,None,None,None,None,None,None
1,1,1,"Анапа, ул Шевченко, 3",16890000,14,2,16.8,Анапа,91.5,14.0,...,NaN,None,None,None,None,None,None,None,None,None

In [259]:
for index, row in df1.iterrows():
  get_extra_data(row)

In [260]:
df1

,Unnamed: 0.1,Unnamed: 0,address,price,floor,rooms,kitchen,city,square,total_floors,...,fundament,region,region_type_full,city_area,city_district,geo_lat,geo_lon,beltway_hit,near_metro_distance,near_metro_name
0,0,0,"Краснодарский край, городской округ Город Анап...",10952600,6,2,23.1,Анапа,46.0,8.0,...,NaN,None,None,None,None,None,None,None,None,None
1,1,1,"Анапа, ул Шевченко, 3",16890000,14,2,16.8,Анапа,91.5,14.0,...,NaN,None,None,None,None,None,None,None,None,None

In [273]:
def test_extra_data(address):
  res = dadata_client.clean(name="address", source=row["address"])
  return res

In [283]:
df1['dadata'] = df1["address"].apply(lambda x: test_extra_data(x))

HTTPStatusError: Client error '403 ' for url 'https://cleaner.dadata.ru/api/v1/clean/address'
For more information check: https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/403

In [284]:
df1

,Unnamed: 0.1,Unnamed: 0,address,price,floor,rooms,kitchen,city,square,total_floors,...,fundament,region,region_type_full,city_area,city_district,geo_lat,geo_lon,beltway_hit,near_metro_distance,near_metro_name
0,0,0,"Краснодарский край, городской округ Город Анап...",10952600,6,2,23.1,Анапа,46.00,8.0,...,NaN,None,None,None,None,None,None,None,None,None
1,1,1,"Анапа, ул Шевченко, 3",16890000,14,2,16.8,Анапа,91.50,14.0,...,NaN,None,None,None,None,None,None,None,None,None
2,2,2,"Краснодарский край, городской округ Город Анап...",9649380,2,1,18.3,Анапа,41.70,8.0,...,NaN,None,None,None,None,None,None,None,None,None
3,3,3,"Краснодарский край, Анапский район, Анапа г., ...",8700000,8,2,25.0,Анапа,56.00,13.0,...,NaN,None,None,None,None,None,None,None,None,None
4,4,4,"Краснодарский край, Анапа, Симферопольское шос...",15300000,3,2,empty,Анапа,68.92,7.0,...,NaN,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8941,8941,8941,"Москва, Мосфильмовская улица, 98к1",29200000,29,3,empty,Москва,71.30,38.0,...,NaN,None,None,None,None,None,None,None,None,None
8942,8942,8942,"Москва, Шмитовский проезд, 39к5",32873403,34,2,empty,Москва,66.47,41.0,...,NaN,None,None,None,None,None,None,None,None,None
8943,8943,8943,"Москва, проспект Ленинградский, д.35, к.2",35500000,9,2,30.0,Москва,83.30,11.0,...,NaN,None,None,None,None,None,None,None,None,None
8944,8944,8944,"Россия, Москва, Шмитовский проезд, 39к2",36000000,13,2,14.0,Москва,77.00,32.0,...,NaN,None,None,None,None,None,None,None,None,None
8945,8945,8945,"Москва, улица Лобачевского",41500000,25,2,18.0,Москва,93.60,49.0,...,NaN,None,None,None,None,None,None,None,None,None